#messageContainer {
  height: 70vh;
}

#login {
  background-image: url("../imagenes/nicholas-green-324622-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  padding: 3%;
  width: 100%;
  color: black;
  opacity: 50%;
  font-family: 'Roboto', sans-serif;
}

#firebaseui-auth-container {
  margin-top: 70%;
  margin-left: 10%;
}

#titulo {
  margin-bottom: 5%;
  text-align: center;
}