#messageContainer {
  height: 70vh;
}

body{
  background-image: url("/imagenes/1531687446992644.JPG");
  background-size: 100%;
}
h1{
  text-align: center;
  font-family: 'Muli',  sans-serif;
}
.col-sm{
text-align: center;
}
.card{
  margin: 15%;
}

#post{
display: none;
}
#img{
  height: 10%;

}

.btn{
  background-color: rgb(52, 158, 123);
  color: white;
}

.btn:hover {
  background: rgba(0,0,0,0);
  color: rgb(52, 158, 123);
  box-shadow: inset 0 0 0 3px rgb(52, 158, 123);
  }

 
