#messageContainer {
  height: 70vh;
}

#mapContent {
  margin: 5%;
  height: 400px;
  width: 600px;
}

#login {
  background-image: url("../imagenes/nicholas-green-324622-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  padding: 3%;
  width: 100%;
  color: black;
  opacity: 50%;
  font-family: 'Roboto', sans-serif;
}

#firebaseui-auth-container {
  margin-top: 70%;
  margin-left: 10%;
}

#titulo {
  margin-bottom: 5%;
  text-align: center;
  font-size: 100%;
}

.btn {
  background-color: rgb(52, 158, 123);
  color: white;
}

.btn:hover {
  background: rgba(0, 0, 0, 0);
  color: rgb(52, 158, 123);
  box-shadow: inset 0 0 0 3px rgb(52, 158, 123);
}

#welcomeUser {
  display: none;
}

#postFood {
  display: none;
}

#welcomeUser {
  font-family: 'Francois One', sans-serif;
}